* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* Particle Css */
#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;

  background: #013dc4;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.test {
  color: #585858;
  color: #092635;
  color: #5c8374;
  color: #b3a492;
  color: #0c356a;
  color: #1d5b79;
  background: #dce2f0;
  background: #0063b2;
  background: #1d5b79;
  background: #7b66ff;
  background: #50586c;
  background: #ed2a55;
  background: #1a488e;
  background: #1c13ee;
  background: #0c356a;
}

/* Scroll Bar Css */
/* For Firefox */
/* width */
::-moz-scrollbar {
  width: 10px;
}
/* track */
::-moz-scrollbar-track {
  background: #013dc4;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* handle */
::-moz-scrollbar-thumb {
  background: #dce2f0;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* For Chrome, Safari, and Opera */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* track */
::-webkit-scrollbar-track {
  background: #013dc4;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* handle */
::-webkit-scrollbar-thumb {
  background: #dce2f0;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media (max-width: 768px) {
  ::-moz-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 480px) {
  ::-moz-scrollbar {
    width: 2px;
  }
  ::-webkit-scrollbar {
    width: 2px;
  }
}
